body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #eaf0ff; */
  background: #d3e9ff;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

/* img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
} */

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* overflow: auto; */
  padding: 0 40px;
  /* background-color: #fff; */
}

/* .quizTitle {
  display: grid;
  justify-content: center;
  align-items: center;
} */

.dogContainer {
  /* background-color: #333; */
  /* margin: 0 auto; */
  /* overflow: auto; */
  /* padding: 0 40px; */
  /* transform: translateY(70%); */
  /* max-width: auto; */
  /* background-color: #fff; */
  width: auto;
  height: 200px;
  overflow: hidden;
}
.dogContainer img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  transform: translateY(30%);
}
/* .dogContainer img {
  transform: translateY(-39%);
} */

/* .quiz {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  height: 100px;
} */

/* .quiz img {
  width: 100%;
} */

.quizCard {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 400px;
}

.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 1rem;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  border-radius: 10px;
  border: solid #dcfaf0;
  padding: 0;
  margin: 0px;
  list-style: none;
}

/* AnswerOption Component */
.answerOption {
  border-radius: 10px;
  border: solid #dcfaf0;
  padding: 20px;
  margin: 10px;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  /* opacity: 0; */
}

.radioCustomLabel {
  /* position: relative; */
  /* width: 100%; */
  margin: 0;
  padding-left: 30px;
  /* font-size: 16px; */
  /* line-height: 1.5; */
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

@media (max-width: 769px) {
  .container {
    margin: 0 auto;
  }

  .dogContainer {
    height: 150px;
  }

  .quizCard {
    height: auto;
    margin: 0;
  }
}
